name: PR Agent
on:
  pull_request:
    types: [opened, synchronize, reopened]
  issue_comment:
    types: [created]
permissions:
  contents: read
  pull-requests: write
  issues: write
jobs:
  pr_agent_job:
    runs-on: ubuntu-latest
    steps:
      - name: MonoSystems PR Agent
        uses: monosystems/pr-agent@14d54aa89d7eeb1d34680fdcfaeb456eee8f5982
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          OPENROUTER_API_BASE: "https://api.minimax.io/anthropic/v1"
          OPENROUTER_KEY: ${{ secrets.OPENROUTER_KEY }}
          CONFIG_MODEL: ${{ secrets.CONFIG_MODEL }}
          CONFIG_RESPONSE_LANGUAGE: ${{ secrets.CONFIG_RESPONSE_LANGUAGE || 'en-US' }}
